

img{
width: 125px;
height: 125px;
float: left;
padding-right :10px;
padding-left :10px;

}

p{

text-align: justify;

margin:2px;

}


body{

background-color: white;

}


h1 {

text-align: center;
position: relative;
font-color:red;
}
h3{

text-align: center;

}